.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  max-width: 350px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__delete-btn {
  background: transparent url(../images/delete.svg) center no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  top: 10px;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-highlighted.svg);
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_liked {
  background-image: url(../images/like-button-bold.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/like-button-faded.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
  }
}
